<div class="container">
  <div class="logo"><img src="../assets/images/logo.png" alt="嘀嘀优品"></div>
  <div class="gift-quantity">送你100嘀豆</div>
  <div class="newcomer">新人首单享优惠+嘀豆使用更划算</div>
  <div class="big-authentic"><img src="../../assets/images/da100@3x.png" alt="100%正品保证"></div>
  <div class="download">
    <a (click)="prompt()">
      <img src="../../assets/images/pingguo@3x.png" alt="嘀嘀优品苹果手机下载">
      <span>iphone下载</span>
    </a>
    <a href="http://admin.dididavip.com/ddypdownload.html">
      <img src="../../assets/images/anzhuo@3x.png" alt="嘀嘀优品安卓手下载">
      <span>Android下载</span>
    </a>
  </div>
</div>