.container {
  background-color: #fff;
}

.container p {
  color: black;
  line-height: 50px;
}

.next {
  height          : 48px;
  border-radius   : 3px;
  border          : 1px solid rgba(213, 213, 213, 1);
  width           : 100%;
  background-color: #fff;
  font-size       : 14px;
  font-weight     : 500;
  color           : rgba(255, 107, 64, 1);
  line-height     : 20px;
  margin-bottom   : 30px;
}