<div class="container">
  <img src="../../assets/images/alcohol.01@3x.jpg" alt="酒品盛宴-嘀嘀优品">
  <img src="../../assets/images/alcohol.02@3x.jpg" alt="酒品盛宴-嘀嘀优品">
  <img src="../../assets/images/alcohol.03@3x.jpg" alt="酒品盛宴-嘀嘀优品">
</div>
<!-- <div class="container">
  <img src="../../assets/images/test01.jpg" alt="酒品盛宴-嘀嘀优品">
  <img src="../../assets/images/test02.jpg" alt="酒品盛宴-嘀嘀优品">
  <img src="../../assets/images/test03.jpg" alt="酒品盛宴-嘀嘀优品">
  <img src="../../assets/images/test04.jpg" alt="酒品盛宴-嘀嘀优品">
</div> -->