<div class="container">
    <p class="description-title"><img src="../../assets/images/description.title@3x.png" width="241" alt="小嘀豆抵大现金"></p>
    <div class="description-content">
        <div class="title">
            <span>什么是嘀豆?</span>
        </div>
        <p>
            嘀豆是嘀嘀优品用户在商城注册、购物、邀请新用户等相关活动情况给予的奖励，嘀豆仅可在嘀嘀优品商城使用。<br />
            嘀嘀优品商城所有产品均支持嘀豆+现金购买，嘀豆部分将视为折扣。嘀嘀优品商城的商品可使用的嘀豆+现金购买的比例根据每个商品而定，以商城实际展示为准。嘀豆抵扣现金比例为1:1（即1嘀豆可抵扣1元）。<br />
            如：如原价100元的牛奶，用户可使用60现金+40嘀豆进行购买，立省40元，同时部分产品支持全额积分嘀豆兑换，不花一分钱。
        </p>
        <!-- <div class="title">
            <img width="96%" src="../../assets/images/content.d2@3x.png" alt="如何赚取嘀豆?">
        </div> -->
        <div class="title">
            <span>如何赚取嘀豆?</span>
        </div>
        <p>
            1、新人注册送嘀豆：<br />
            新用户首次注册嘀嘀优品即可获赠100个嘀豆。<br />
            2、交易获得嘀豆：<br />
            购买产品获得嘀豆，用户在商城任意一笔带有现金的交易，均可获得与现金等额的嘀豆奖励。如：购买一箱牛奶60元现金+40嘀豆，用户该单交易订单中即可获得60嘀豆奖励，现金交易的嘀豆奖励比例为1:1 。<br />
            3、邀请好友获得嘀豆：<br />
            进入个人中心通过分享邀请码邀请好友注册会员即可获赠100个嘀豆。<br />
            4、被邀请好友购买商品获得嘀豆：<br />
            被邀请的好友注册会员后，在商城消费后可获得好友该订单所得嘀豆数的10%嘀豆关联奖励。
        </p>
        <div class="title">
            <span>如何使用嘀豆?</span>
        </div>
        <!-- <div class="title">
            <img width="96%" src="../../assets/images/content.d3@3x.png" alt="如何使用嘀豆?">
        </div> -->
        <p>
            1、商城支持嘀豆+现金购买商品：每款商品的嘀豆+现金的比例不同，会员在结算的时候系统会自动将嘀豆可抵扣的金额减掉，直接支付该商品嘀豆抵扣完后的金额。如用户嘀豆不足则无法抵扣，需要原价购买。<br />
            2、纯嘀豆兑换：用户点击纯嘀豆兑换商品，系统从用户的账户里自动抵扣该商品所需要的全部嘀豆，如用户嘀豆不足，则无法兑换。
        </p>
    </div>
</div>